[user]
	name = stasterg
	email = stasterg@gmail.com
[push]
# Push to the already set upstream branch being tracked by default.
	default = simple
[rerere]
# Store and reuse manual conflict resolution changes.
	enabled = 1
[color]
	ui = auto
[fetch]
# Always prune when fetching and pulling.
	prune = 1
[core]
# Exclude everything in this file. Used for general exclusions.
	excludesfile = /home/ste/.gitignore
[alias]
# Show a very handy and full log format.
	ulti-log = log --graph --oneline --decorate
	ulti = !git ulti-log
# Stage the changes in a given file.
	stage = !git add -u
# Unstage the changes in a given file.
	unstage = reset HEAD --
# View the current changes in the staging area.
	staged = diff --cached
# Print the name of the current branch.
	current-branch = symbolic-ref --short HEAD
# Print the name of the current upstream tracking branch.
	upstream = !git config --get branch.$(git current-branch).remote || echo origin
# Create a git:// server of the current repository.
# WARNING! This gives all users read/write access (only use on trusted networks).
#	serve = !git daemon --reuseaddr --export-all --base-path=. --verbose ./.git


[instaweb]
# Use the Ruby WEBRick library when creating a 'git instaweb' HTTP Server
	httpd = webrick

[credential]
	helper = cache --timeout=7200

[gist]
# Open GitHub Gist in browser after submission.
	browse = true

[help]
# Open Git help pages in the browser as HTML.
	format = web
	autocorrect = 1

